worker_processes  2;
worker_cpu_affinity 01 10;

error_log  ${OPENSHIFT_LOG_DIR}/error.log;

pid        ${OPENSHIFT_RUN_DIR}/nginx.pid;

events {
    use epoll;
    worker_connections  8000;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log ${OPENSHIFT_LOG_DIR}/access.log;

    sendfile        on;
    tcp_nopush      on;
    port_in_redirect off;
    keepalive_timeout  65;

    gzip  on;
    gzip_buffers     4 16k;
    gzip_http_version 1.0;
    gzip_comp_level 2;
    gzip_types       text/plain application/x-javascript text/css application/xml;
    gzip_proxied        expired no-cache no-store private auth;

    fastcgi_connect_timeout 300;
    fastcgi_send_timeout 300;
    fastcgi_read_timeout 300;
    fastcgi_buffer_size 32k;
    fastcgi_buffers 4 32k;
    fastcgi_busy_buffers_size 32k;
    fastcgi_temp_file_write_size 32k;

    server {
        listen ${OPENSHIFT_INTERNAL_IP}:${OPENSHIFT_INTERNAL_PORT};
        server_name  localhost;
        root   ${OPENSHIFT_REPO_DIR}/web;
        charset utf-8;

        location / {
            index  index.html index.htm;
        }

        location ~ \.php$ {
            fastcgi_pass unix:${OPENSHIFT_RUN_DIR}/php-fpm.socket;
            fastcgi_index  index.php;
            fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
            include        fastcgi_params;
        }

        location ~ /\.ht {
            deny  all;
        }
    }
}